[submodule "lib/keyswitches.pretty"]
	path = lib/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty.git
[submodule "lib/keyswitch-kicad-library"]
	path = lib/keyswitch-kicad-library
	url = https://github.com/perigoso/keyswitch-kicad-library.git
